 .container{
    padding: 60px 0px;
    margin-top: 80px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 6px 6px 12px 6px rgba(0,0,0,0.2);
    border-radius: 25px;
    text-align: center;
}

.card{
    background-color: #F6F4EB;
    margin: 20px 40px;
}

h2{
    color: #451952;
    font-size: 2.5rem;
}

.card-header{
    color: #AE445A;
    font-size: 1.5rem;
}
.card-title{
    color: #557A46;
}