<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>  
  <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <div class="d-block w-100 image2">
          <div class="text2">
            <h1>Everyone loves sport. And everyone loves a quiz.</h1> 
            <!-- <button class="btn btn-secondary" *ngIf="!userLoggedIn" routerLink="/login">Get started with the quiz</button>            -->
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="d-block w-100 image1">
          <div class="text1">
            <h1>No one can make you feel inferior without your consent.</h1>
            <!-- <button class="btn btn-secondary" *ngIf="!userLoggedIn" routerLink="/login">Get started with the quiz</button>            -->
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="d-block w-100 image3">
          <div class="text3">
            <h1>To learn, you have to listen. To improve, you have to try.</h1>
            <!-- <button class="btn btn-secondary" *ngIf="!userLoggedIn" routerLink="/login">Get started with the quiz</button>            -->
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
