<div class="container-md">
  <div class="profile">
    <img [src]="imageSrc ? imageSrc : '../../../assets/profile.png'" alt="" />
  </div>
  <div class="card">
    <div class="card-text">
      <div class="row">
        <div class="col-6">Name</div>
        <div class="col-6">{{ profile.name }}</div>
      </div>
      <div class="row">
        <div class="col-6">Username</div>
        <div class="col-6">{{ profile.username }}</div>
      </div>
      <div class="row">
        <div class="col-6">Email</div>
        <div class="col-6">{{ profile.email }}</div>
      </div>
      <div class="row">
        <div class="col-6">Role</div>
        <div class="col-6">{{ profile.role }}</div>
      </div>
    </div>
  </div>
</div>
