<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form #f = "ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
        <h3>Login</h3>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Enter username"
            [(ngModel)]="user.username"
            name="username"
            required
            #username = "ngModel"
            [ngClass]="{ 'border-danger': f.submitted && username.invalid }"
          />
          <div *ngIf="f.submitted && username.invalid" class="alert alert-danger">
            Please enter the username
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
            [(ngModel)]="user.password"
            name="password"
            required
            #password = "ngModel"
            [ngClass]="{ 'border-danger': f.submitted && password.invalid }"
          />
          <div *ngIf="f.submitted && password.invalid" class="alert alert-danger">
            Please enter the password
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <br>
      <div class="register">
        Not a user? &nbsp;<span routerLink="/signup">Register here</span>
      </div>
    </div>
  </div>
</div>
