<div class="container-sm mt-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form [formGroup]="user" (ngSubmit)="onSubmit()">
        <h3>Login</h3>
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter username"
            name="username"
            formControlName="username"
          />
          <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            Please enter the username
          </div>
        </div>
        <br />
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            name="password"
            formControlName="password"
          />
          <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
            Please enter the password
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" [disabled]="user.invalid">Login</button>
      </form>
      <br>
      <div class="register">
        Not a user? &nbsp;<span routerLink="/signup">Register here</span>
      </div>
    </div>
  </div>
</div>
