@import "ngx-toastr/toastr";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "@fortawesome/fontawesome-free/css/brands.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";

body{
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.border-danger{
    border: 1px solid red;
}

.btn-primary {
    background-color: #451952 !important;
}

.btn-primary:hover {
    background-color: #F39F5A !important;
}

.btn-info {
    background-color: #451952;
    color: #fff;
}
.btn-info:hover {
    background-color: #EFB495;
}