<div class="container-md row">

    <canvas baseChart width="520" height="260"
    class="chart col-6"
            [data]="barChartDataQuiz"
            [options]="barChartOptionsQuiz"
            [plugins]="barChartPluginsQuiz"
            [legend]="barChartLegendQuiz"
            [type]="'bar'">
    </canvas>

    <canvas baseChart width="520" height="260"
    class="chart col-6"
            [data]="barChartDataMarks"
            [options]="barChartOptionsMarks"
            [plugins]="barChartPluginsMarks"
            [legend]="barChartLegendMarks"
            [type]="'bar'">
    </canvas>


    <canvas baseChart width="400" height="400"
    class="col-6"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
</div>
<div style="display: block;">
  </div>
  
